/* Todo : 
- Drapeau en space around -> Ok
- cards pas de la même dimension ? -> Problème de wrap, mais pas trouvé. 
- hauteurs des pages About/Add new rental // Bidouillé OK
- Rental form en column
- Refonte pages détaillées. -> Done, à checker.
- Faire quelque chose pour le fond du logo blanc ? - > Done
*/

:root {
  --main-background-color: #799fd3;
  --second-background-color: #9fbde4;
  --main-text-color: #41403d;
  --button-color: #dacdb7;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  color: var(--main-text-color);
}

nav {
  font-size: 150%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: 20%;
  background-color: var(--main-background-color);
  display: flex;
  align-items: center;
  justify-content: start;
}

nav > img {
  margin-right: 5%;
  height: 125px;
}

.sidebar > ul {
  list-style: none;
}

.sidebar {
  width: max-content;
  background-color: var(--second-background-color);
}

main {
  background-color: var(--main-background-color);
  display: flex;
}

main > a {
  color: black;
}

.main-div {
  margin: 3%;
  width: 100%;
  display: flex;
}

.main-div > .About {
  height: 62vh;
}

.main-div > .new-rental-form {
  height: 65vh;
}

.new-rental-form {
  display: flex;
  flex-direction: row;
}

main > img {
  height: 10rem;
}

.Pictures {
  max-width: 50rem;
}

footer {
  height: 2%;
  background-color: var(--second-background-color);
  color: #000;
  padding: 1rem;
  text-align: center;
}

a.active {
  background-color: var(--button-color);
  color: #000;
}

.rentals-card {
  height: 30rem;
  /* width: 33%; */
  background-color: var(--second-background-color);
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.rentals-card > img:first-of-type {
  height: 40%;
}

.flag {
  height: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.rentals-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* 
Faire un media query pour les différents thèmes. 

@media (prefers-color-scheme: light) {
  .card > a {
    color: #213547;
  }
} */

.back-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: var(--main-text-color);
  background-color: var(--button-color);
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.back-button:hover {
  background-color: #424240;
}

.item-details p {
  text-align: justify;
}

.item-details span {
  font-weight: bold;
}

.delete-button {
  background-color: var(--button-color);
}

.new-rental-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
