/* Todo : 
- Drapeau en space around -> Ok
- cards pas de la même dimension ? -> Problème de wrap, mais pas trouvé. 
- hauteurs des pages About/Add new rental // Bidouillé OK
- Rental form en column
- Refonte pages détaillées. -> Done, à checker.
- Faire quelque chose pour le fond du logo blanc ? - > Done
*/

/* @docs
label: Core Remedies
version: 0.1.0-beta.2

note: |
  These remedies are recommended
  as a starter for any project.

category: file
*/

/* @docs
label: Box Sizing

note: |
  Use border-box by default, globally.

category: global
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/* @docs
label: Line Sizing

note: |
  Consistent line-spacing,
  even when inline elements have different line-heights.

links:
  - https://drafts.csswg.org/css-inline-3/#line-sizing-property

category: global
*/
html {
  line-sizing: normal;
}

/* @docs
label: Body Margins

note: |
  Remove the tiny space around the edge of the page.

category: global
*/
body {
  margin: 0;
}

/* @docs
label: Hidden Attribute

note: |
  Maintain `hidden` behaviour when overriding `display` values.

  category: global
*/
[hidden] {
  display: none;
}

/* @docs
label: Heading Sizes

note: |
  Switch to rem units for headings

category: typography
*/
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.17rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.83rem;
}
h6 {
  font-size: 0.67rem;
}

/* @docs
label: H1 Margins

note: |
  Keep h1 margins consistent, even when nested.

category: typography
*/
h1 {
  margin: 0.67em 0;
}

/* @docs
label: Pre Wrapping

note: |
  Overflow by default is bad...

category: typography
*/
pre {
  white-space: pre-wrap;
}

/* @docs
label: Horizontal Rule

note: |
  1. Solid, thin horizontal rules
  2. Remove Firefox `color: gray`
  3. Remove default `1px` height, and common `overflow: hidden`

category: typography
*/
hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: inherit;
  height: 0;
  overflow: visible;
}

/* @docs
label: Responsive Embeds

note: |
  1. Block display is usually what we want
  2. The `vertical-align` removes strange space-below in case authors overwrite the display value
  3. Responsive by default
  4. Audio without `[controls]` remains hidden by default

category: embedded elements
*/
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
  max-width: 100%;
}
audio:not([controls]) {
  display: none;
}

/* @docs
label: Responsive Images

note: |
  These new elements display inline by default,
  but that's not the expected behavior for either one.
  This can interfere with proper layout and aspect-ratio handling.

  1. Remove the unnecessary wrapping `picture`, while maintaining contents
  2. Source elements have nothing to display, so we hide them entirely

category: embedded elements
*/
picture {
  display: contents;
}
source {
  display: none;
}

/* @docs
label: Aspect Ratios

note: |
  Maintain intrinsic aspect ratios when `max-width` is applied.
  `iframe`, `embed`, and `object` are also embedded,
  but have no intrinsic ratio,
  so their `height` needs to be set explicitly.

category: embedded elements
*/
img,
svg,
video,
canvas {
  height: auto;
}

/* @docs
label: Audio Width

note: |
  There is no good reason elements default to 300px,
  and audio files are unlikely to come with a width attribute.

category: embedded elements
*/
audio {
  width: 100%;
}

/* @docs
label: Image Borders

note: |
  Remove the border on images inside links in IE 10 and earlier.

category: legacy browsers
*/
img {
  border-style: none;
}

/* @docs
label: SVG Overflow

note: |
  Hide the overflow in IE 10 and earlier.

category: legacy browsers
*/
svg {
  overflow: hidden;
}

/* @docs
label: HTML5 Elements

note: |
  Default block display on HTML5 elements.
  For oldIE to apply this styling one needs to add some JS as well (i.e. `document.createElement("main")`)

links:
  - https://www.sitepoint.com/html5-older-browsers-and-the-shiv/

category: legacy browsers
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

/* @docs
label: Checkbox & Radio Inputs

note: |
  1. Add the correct box sizing in IE 10
  2. Remove the padding in IE 10

category: legacy browsers
*/
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

:root {
  --main-background-color: #799fd3;
  --second-background-color: #9fbde4;
  --main-text-color: #41403d;
  --button-color: #dacdb7;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  color: var(--main-text-color);
}

nav {
  font-size: 150%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: 20%;
  background-color: var(--main-background-color);
  display: flex;
  align-items: center;
  justify-content: start;
}

nav > img {
  margin-right: 5%;
  height: 125px;
}

.sidebar > ul {
  list-style: none;
}

.sidebar {
  width: max-content;
  background-color: var(--second-background-color);
}

main {
  background-color: var(--main-background-color);
  display: flex;
}

main > a {
  color: black;
}

.main-div {
  margin: 3%;
  width: 100%;
  display: flex;
}

.main-div > .About {
  height: 62vh;
}

.main-div > .new-rental-form {
  height: 65vh;
}

.new-rental-form {
  display: flex;
  flex-direction: row;
}

main > img {
  height: 10rem;
}

.Pictures {
  max-width: 50rem;
}

footer {
  background-color: var(--second-background-color);
  color: #000;
  padding: 1rem;
  text-align: center;
}

a.active {
  background-color: var(--button-color);
  color: #000;
}

.rentals-card {
  height: 30rem;
  background-color: var(--second-background-color);
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.rentals-card > img:first-of-type {
  height: 40%;
}

.flag {
  height: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.rentals-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* 
Faire un media query pour les différents thèmes. 

@media (prefers-color-scheme: light) {
  .card > a {
    color: #213547;
  }
} */

.back-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: var(--main-text-color);
  background-color: var(--button-color);
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.back-button:hover {
  background-color: #424240;
}

.item-details p {
  text-align: justify;
}

.item-details span {
  font-weight: bold;
}

.delete-button {
  background-color: var(--button-color);
}

.new-rental-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
